<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments :: risorse-head"></th:block>
	<title>Departments</title>
</head>

<body>
	<div th:replace="fragments :: navbar('departments')"></div>
	<div class="container text-center w-75 mt-3">
		<h1>Departments</h1>
		<div class="container" th:if="${departmentList.size()>0}">
			<table class="table mb-5">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Indirizzo</th>
						<th>Numero telefonico</th>
						<th>Indirizzo mail</th>
						<th>Sito web</th>
						<th>Capodipartimento</th>
					</tr>
				</thead>
				<tbody>
				
					<tr th:each="d : ${departmentList}">
						<td><a th:href ="@{|/departments/${d.id}|}"th:text="${d.name}"></a></td>
						<td th:text="${d.address}"></td>
						<td th:text="${d.phone}"></td>
						<td th:text="${d.email}"></td>
						<td th:text="${d.website}"></td>
						<td th:text="${d.headOfDepartment}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	<p th:unless="${departmentList.size()>0}" class="text-center">Nessun dipartimento trovato</p>
</body>

</html>